@import "resources/assets/sass/Secciones_y_Helpers/Helper_Plug-flex";
@import "resources/assets/sass/Secciones_y_Helpers/Helper_mediCueris";
@import "resources/assets/sass/Secciones_y_Helpers/Helper_AJUSTES_Y_MIXIN_GENERALES";
@import "resources/assets/sass/Secciones_y_Helpers/Helper_botones";
@import "resources/assets/sass/Secciones_y_Helpers/Helper_Textos_Estilos";
@import "resources/assets/sass/Secciones_y_Helpers/Helper_Inputs_Estilos";
@import "resources/assets/sass/Secciones_y_Helpers/Helper_Imagenes_background";

/* C L A S E S   D E   T A M A Ñ O  */
.get_width_100 {
  width: 100%;
}

.get_height_100 {
  height: 100%;
}

/* C L A S E S   D E   L I S T A S  */
.lista-class {
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
  letter-spacing: 1.4px;
  padding-left: 20px;
  line-height: 1.7;
  font-family: $font-secondary;
}

.lista-class::before {
  content: "\025cf";
  color: $color-3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* S i m u l a   u n   l i n k */
.simula-link {
  cursor: pointer;
  color: $color-3;
}
.simula-link:hover {
  color: $color-3-primary_hover;
}

/* C u r s o r   p o i n t e r */
.cursor-pointer {
  cursor: pointer;
}

/* C a r g a d o r*/
.lazy-hidden {
  background: $Color-secondary url("loading.gif") no-repeat 50% 50%;
}

.scroll-snap,
.site-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.next-scroll {
  position: absolute;
  padding: 30px;
  cursor: pointer;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media (min-width: $BrackPoint-Secundario) {
  .mostrar-solo-mobil {
    display: none;
  }

  .no-mostrar-en-mobil {
    display: block;
  }

  .margin-botto-only-mobil {
    margin-bottom: 0;
  }
}
