/* I M Á G E N E S   B A C K G R O U N D */

.home-pesca{
  background-image:url("../../imagenes/Backgrounds/uruwild-home-pesca.jpg");
  height: 600px;
}
.home-pesca-chica{
  background-image:url("../../imagenes/Backgrounds/uruwild-home-pesca-chica.jpg");
  height: 400px;
}