/*  I M É G E N   D E   A T E N C I Ó N  */

.imagen-contacto-chiac-al-lado-de-te-responderemos{
  height:65px;
  width:65px;
}





@media (min-width: $BrackPoint-Secundario){


.imagen-contacto-chiac-al-lado-de-te-responderemos{
  height:80px;
  width:80px;
}


}