 
/* L O G O   F L O T A N T E   E N   I M A G E N E S */
 .logo-float{
  height: 60px;
  position: absolute;
  bottom: 5%;
  right: 5%; 
  display: block;
}


/*  L o g o  N A V */
.logo-nav{
  height:40px;
  width:auto;
  transition: height 0.3s linear; /* vendorless fallback */
  -o-transition: height 0.3s linear; /* opera */
  -ms-transition: height 0.3s linear; /* IE 10 */
  -moz-transition: height 0.3s linear; /* Firefox */
  -webkit-transition: height 0.3s linear; /*safari and chrome */
}
.logo-nav:hover{
  height:43px;
}


/* T e a m */
.imagen-team-chica{
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius:100%;    
}

.imagen-team-pagina-contacto-chica{
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  border-radius:100%;    
}


/*T o u r s*/
.tour-img-listado{
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;    
}

.tour-contiene-datos-listado{
  position: absolute;
  bottom:0;
  left: 0;
  background-color:rgba($color-black,.2);
  padding: 20px;
  width: 100%;
}

/* T u r i s m o   r u r a l  */
.turismo-rural-img-listado{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;    
}



















@media (min-width: $BrackPoint-Secundario){ 
 .imagen-team-chica{
  height:200px;
  width: 200px;
  }
}

@media (min-width: $BrackPoint-Tercer){
  .logo-float{
    height: 80px;
  }
}